{% extends "template.html" %}
{% block body %}
<form action="/action_reset" method = "POST">
    <!-- <h4>Email&nbsp;&nbsp; <input type = "text" name = "email" /></h4> -->
    <input type = "hidden" name = "email" value = {{email}} />
    <h4>New Password&nbsp;&nbsp; <input type = "password" name = "new_password" /></h4>
    <h4>Confirm New Password&nbsp;&nbsp; <input type = "password" name = "conf_new_password" /></h4>
    <input type = "submit" value = "Submit" />
</form>
<a href="/" style="float: right;">Back</a>
{% endblock %}