<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081626014730-d0h92cgkvu52fb0b99agg9s5pf0vdkob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081626014730-d0h92cgkvu52fb0b99agg9s5pf0vdkob</string>
	<key>API_KEY</key>
	<string>AIzaSyDO885M_gnjlz4IiMgllSN0NKzlo-bE19g</string>
	<key>GCM_SENDER_ID</key>
	<string>1081626014730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopper</string>
	<key>PROJECT_ID</key>
	<string>soft3888-g2</string>
	<key>STORAGE_BUCKET</key>
	<string>soft3888-g2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081626014730:ios:60b05e67ff9c7b73e85bf3</string>
</dict>
</plist>