{% extends "template.html" %}
{% block body %}
<form action="/action_add_item" method = "POST" enctype="multipart/form-data">
    <h1>Add new Items</h1>
    
    <h4>Name&nbsp;&nbsp; <input type = "text" name = "name" required/></h4>
    <h4>Price&nbsp;&nbsp; <input type = "text" name = "price" required/></h4>
    <h4>Description&nbsp;&nbsp; <input type = "text" name = "desc" required/></h4>
    <h4>Quantity&nbsp;&nbsp; <input type = "text" name = "quantity" required/></h4>
    <h4>Category&nbsp;&nbsp; 
        <select id="categories" name="Category" >
            <span>
            <script>    
                var options = "";
                var category = "{{category}}";
                var cat_format = category.substring(1, category.length-1);
                var category_list = cat_format.split(", ");
                var length = category_list.length;
                for (var i = 0; i < length; i++) {
                    options += "<option>" + category_list[i].substring(5, category_list[i].length-5); + "</option>\n";
                }
                document.getElementById("categories").innerHTML = options;              
            </script>
            </span>
        </select>

    </h4>
    <h4>Image&nbsp;&nbsp; <input type = "file" name = "image" accept="image/png, image/jpeg" required/></h4>
    
    <input type = "submit" value = "Submit" /> <a href="/items" style="float:right;font-size:24px">Back</a>
</form>
{% endblock %}